.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer h1 span {
  color: var(--primary-color)
}


.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.result p {
  color: #fff;
border: 1px solid var(--primary-color);
padding: 0.5rem 1rem;
margin-right: 1rem;
}

• result button {
  padding: 0.5rem 1rem;
  color:#fff;
  cursor: pointer;
  background: var(--primary-color);
  border: none;
}